httpx>=0.15.0,<=0.15.5
gpxpy==1.4.2
stravalib==0.10.4
appdirs>=1.4.0
svgwrite>=1.1.9
colour>=0.1.5
s2sphere
arrow
geopy
polyline
sqlalchemy
tzfpy; platform_system != "Windows"
timezonefinder; platform_system == "Windows"
pyyaml
aiofiles
cloudscraper==1.2.58
tcxreader
rich
lxml==4.9.4
eviltransform
stravaweblib
tenacity
numpy
tzlocal
fit-tool
garmin-fit-sdk
haversine==2.8.0
garth==0.4.47; python_version < "3.10"
garth==0.8.0; python_version >= "3.10"
garminconnect==0.3.8; python_version >= "3.12"
pycryptodome
google-auth
google-api-python-client
